---
layout: default
bodyclass: home
links: 
  - href: "/feed.xml"
    type: "application/rss+xml"
    rel: "alternate"
---
<header class="masthead">        
  <h1 class="masthead-title">
    <a href="{{ site.baseurl | prepend: site.url }}">{{ site.name }}</a>
  </h1>
  <p class="by">by <a href="https://jacoscaz.com">Jacopo Scazzosi</a></p>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href | prepend: site.baseurl | prepend: site.url }}"
      {% if nav.type %}type="{{ nav.type }}"{% endif %}
      {% if nav.rel %}rel="{{ nav.rel }}"{% endif %}
      >{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>There are no posts yet. I'll get around to write some, promise.</h2>
{% else %}
  {% for post in site.posts %}
    {% if post.hidden != true %}
      <article class="list-item">
        <div class="list-post-date">
          <time>{{ post.date | date: "%Y-%m-%d" }}</time>
        </div>
        <h2 class="list-post-title">
          <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
        </h2>
      </article>
    {% endif %}
  {% endfor %}
{% endif %}
</div>

