---
---

@import 'scss/normalize.css';
@import 'scss/highlight.css';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-family: Iowan Old Style, Palatino, Georgia, Apple Garamond, Baskerville, Droid Serif, Times New Roman, Times, serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

@media (min-width: 140rem) {
  html {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: inherit;
  &:hover,
  &:visited,
  &:focus {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em 0;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
}

strong {
  font-weight: 700;
}


code,
time,
pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: 0.9em;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  // word-wrap: break-word;
  background-color: #f9f9f9;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

figure {

  margin: 2em 0 0 0;

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 1rem auto;
    border-radius: 5px;
    height: auto;
  }

  figcaption {
    font-size: 0.8em;
    color: #999999;
    text-align: center;
  }
}

blockquote {
  background: rgb(221, 238, 255);
  border-left: 10px solid rgb(140, 203, 242);
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  letter-spacing: 0.0125rem;
}

aside {
  background: rgb(233, 251, 233);
  border-left: 10px solid rgb(82, 224, 82);
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 0.9em;
  letter-spacing: 0.0125em;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.lead {
  font-size: 1.25rem;
}


body {
  overflow-y: scroll;
  overflow-x: hidden;
}

details {
  background: rgb(252, 250, 238);
  border-left: 10px solid rgb(224, 203, 82);
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
  font-size: 0.9em;
  letter-spacing: 0.0125em;
  position: relative;
  & > summary {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    &:after {
      content: '...';
    }
  }
}

// ----------------------------------------------
//                  PAGE LAYOUT
// ----------------------------------------------

#page {
  width: 46rem;
  margin: 0 auto;
  position: relative;
  left: -5.5rem;
}

#sidebar {
  width: 11rem;
  float: left;
  font-size: 0.85em;
  margin-top: 20vh;
}

#content {
  width: 35rem;
  float: left;
}

@media (max-width: 70rem) {
  #page { 
    left: 0;
    width: auto;
    max-width: 40rem;
    padding: 1rem;
  }
  #sidebar { 
    float: none;
    width: auto;
    margin-top: 0;
  }
  #content {
    float: none;
    width: auto;
  }
}


.masthead {

  &-title {
    font-weight: 500;
    font-size: 1.75em;
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: underline;
    a {
      color: #333;
      text-decoration: none;
    }
    
    span {
      color: #ddd;
    }
    
  }

  .by {
    margin-top: 0;
    margin-bottom: 1em;
    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  

  .masthead-nav {
    // margin: 2rem 0 2rem 0;

    ul { padding: 0; margin: 0; }
    li { list-style-type: none; }
    
    &:hover a.active {
      color: #aaa !important;
    }

    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;

      &:hover,
      &:focus {
        color: #333 !important;
        text-decoration: none;
      }

      &.active {
        color: #333 !important;
      }

    }
  }

}

@media (max-width: 70rem) {
  .masthead-nav li {
    display: inline-block;
    margin-right: 0.5em;
  }
}

footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #CCCCCC;
}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}


/* ============================================================================
 *                                 POST LIST 
 * ==========================================================================*/

.post-list {

  .post-list-item {

    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0.75rem;
    font-size: 0.9em;
    padding: 0 0.5rem;
    // left: -0.25rem;

    &:target {
      background: #ede8cb;
    }

    .post-list-item-date {
      padding: 0; 
      margin: 0.2em 0.5em 0 0;
      flex: 0 0 6em;
      align-self: center;
      font-size: .75em;
      line-height: .75em;
      height: .75em;
      text-transform: uppercase;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

    }

    .post-list-item-title {
      padding: 0; 
      margin: 0;
      line-height: 1.5em;
      font-size: 1.125em;
      font-weight: 300;
      flex-grow: 1;
      a {
        color: #333;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
    
  }
}


/* ============================================================================
 *                                SYSLOG LIST 
 * ==========================================================================*/

 .syslog-list {

  .syslog-list-item {

    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem 0;

    &:target {
      background: #ede8cb;
    }

    .syslog-list-item-header {

      display: flex;
      align-items: center;

      .syslog-list-item-title, .syslog-list-item-date {
        padding: 0; 
        margin: 0;
        font-size: 1.125em;
        display: flex;
        align-items: center;
      }
    
      .syslog-list-item-title {
        flex-grow: 1;
        font-weight: 600;
        font-size: 0.975em;
        a {
          // text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .syslog-list-item-date {
        min-width: 4rem;
        font-weight: 300;
        font-size: .75em;
        text-transform: uppercase;
        text-align: right;
        time { 
          width: 100%; 
        }
      }

    }

    .syslog-list-item-tags {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: 0.9em;
      font-style: italic;
      li {
        display: inline-block;
        margin: 0; padding: 0;
        &:before {
          content: '#';
        }
      }
    }

    .syslog-list-item-content {
      clear: both;
      margin: 0;
      padding: 0;
      // font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
      p { 
        margin: 0.5em 0; 
      }
    }
    
  }
}

/* ============================================================================
 *                                  HOME ART 
 * ==========================================================================*/

img#home-art {
  display: block; 
  position: fixed; 
  bottom: 0; 
  right: 0; 
  max-height: 85vh; 
  max-width: 70vw;
  z-index: -1;
}

@media (max-width: 70rem) {
  img#home-art {
    max-width: 95vw;
    max-height: 85vh;
  }
}