---
---

@import 'scss/normalize.css';
@import 'scss/highlight.css';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-family: Palatino, Georgia, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: inherit;
  &:hover,
  &:visited,
  &:focus {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em 0;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
}

strong {
  font-weight: 700;
}


code,
pre {
  font-family: Monaco, Consolas, 'Courier New', monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  // word-wrap: break-word;
  background-color: #f9f9f9;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

figure {

  margin: 2em 0 0 0;

  img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
  }

  figcaption {
    font-size: 0.8em;
    color: #999999;
    text-align: center;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  letter-spacing: 0.0125rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.lead {
  font-size: 1.25rem;
}


body {
  overflow-y: scroll;
  overflow-x: hidden;
}

#content {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1.4rem 1.5rem; 
}

body.home {
  
  @media (min-width: 1200px) {
    
    #content {
      margin: 0 0 0 50%;
      max-width: none;
      width: 50%;
    }
    
    #treeandrobot {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
      background-image: url('./assets/images/treeandrobot@2x.png');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 100%;
    }


  }
}


.masthead {

  &-title {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 0;
    a {
      color: #333;
      text-decoration: none;
    }
    
    span {
      color: #ddd;
    }
    
  }
  
  &-title--small {
    font-size: .85rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    a {
      color: #333;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .by {
    margin-top: 0;
    font-size: .85rem;
    &-small {
      margin: 0;
      font-size: 0.75rem;
      text-transform: none;
    }
    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  

  .masthead-nav {
    margin: 2rem 0 2rem 0;
    
    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      + a {
        margin-left: .25rem;
      }
    }
  }

}

footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #CCCCCC;
}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.list {

  .list-item {

    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;

    .list-post-date {
      padding: 0; 
      margin: 0.2rem 0.5rem 0 0;
      flex: 0 0 4.75rem;
      align-self: center;
      font-size: .75rem;
      line-height: .75rem;
      height: .75rem;
      text-transform: uppercase;
    }

    .list-post-title {
      padding: 0; 
      margin: 0;
      line-height: 1.5rem;
      font-size: 1.125rem;
      font-weight: 300;
      flex-grow: 1;
      a {
        color: #333;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
    
  }
}




