<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/inconsolata/stylesheet.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/firacode/fira_code.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
<body>
    {% if page.treeandrobot %}
      <div class="treeandrobot"></div>
    {% endif %}
    <div class="container {% if page.treeandrobot %} home {% endif %}">{{ content }}</div>
</body>
</html>
